{% extends "base.html" %}
{% load static %}

{% block content %}
<header class="row bg-black">
    <div class="col-md-6">
        <img src="{% static 'portafolio/foto.png' %}" alt="">
    </div>

    <div class="col-md-5 my-auto">
        <h3><strong>AVV</strong></h3>
        <h4>Bienvenidos </h4>
        <p>
            ¡Bienvenidos a nuestra sección "Nosotros"! Somos una tienda de ropa 
            y accesorios para damas y caballeros, y estamos emocionados de compartir 
            nuestra historia contigo.

            <br>
            <br>

            Fundada en 2005 por un equipo apasionado por la moda, nos esforzamos por 
            ofrecer una amplia selección de ropa y accesorios de alta calidad para satisfacer 
            las necesidades de nuestros clientes. Desde entonces, nos hemos expandido a lo largo 
            y ancho del país, con varias sucursales en las principales ciudades de Colombia.

            <br>
            <br>

            Nos enorgullece decir que nuestra ropa y accesorios son diseñados y fabricados 
            por algunos de los mejores diseñadores y artesanos de la industria. Nos aseguramos
            de que cada pieza cumpla con los estándares de calidad más altos, para que puedas estar 
            seguro de que estás recibiendo lo mejor.
        </p>
    </div>


</header>
{% endblock %}